/Project_F407/.vscode/

/Project_F407/MDK-ARM/Project_F407/
/Project_F407/MDK-ARM/*.log
/Project_F407/MDK-ARM/JLink*
/Project_F407/MDK-ARM/*.ini
/Project_F407/MDK-ARM/RTE/_Project_F407/

*.o
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.map
*.lst

.DS_Store
Thumbs.db
desktop.ini

*.log
*.swp
*.swo
*.bak