/Project_F103/.vscode/

/Project_F103/MDK-ARM/Project_F103/
/Project_F103/MDK-ARM/*.log
/Project_F103/MDK-ARM/JLink*
/Project_F103/MDK-ARM/*.ini
/Project_F103/MDK-ARM/RTE/_Project_F103/

*.o
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.map
*.lst

.DS_Store
Thumbs.db
desktop.ini

*.log
*.swp
*.swo
*.bak